{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">


<head>
    
</head>

<body>
    {% block content %}
    <!-- Loading -->
    {% include "navbar.html" %}
    <!-- Header -->

    <!-- Breadcrumb -->
    <div class="pq-breadcrumb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Contact Us</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'index' %}"><i class="fas fa-home me-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">Contact Us</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->

    <!-- Contact Us -->
    <section class="contact-us pb-xl-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="pq-section-title pq-style-1 pq-mb-30">
                        <span class="pq-section-sub-title">our contact</span>
                        <h5 class="pq-section-main-title">Get in touch with us</h5>
                        <p class="pq-section-description">We're here to assist you—reach out to us through the following contact details.</p>
                    </div>
                    <div class="pq-icon-box pq-style-3">
                        <div class="pq-icon">
                            <i class="ion ion-ios-home"></i>
                        </div>
                        <div class="pq-icon-box-content">
                            <h6>Visit A Office</h6>
                            <p class="mb-0">Afghanistan, Herat Province, Herat City, Blood Bank Street, Chamber of Commerce Building, 4th Floor, Rooms 201 and 202.</p>
                        </div>
                    </div>
                    <div class="divider pq-my-15"></div>
                    <div class="pq-icon-box pq-style-3">
                        <div class="pq-icon">
                            <i class="ion ion-ios-telephone"></i>
                        </div>
                        <div class="pq-icon-box-content">
                            <h6>Contact-Us</h6>
                            <p class="mb-0"> 0093790010157 <br> 0093700405570 </p>
                        </div>
                    </div>
                    <div class="divider pq-my-15"></div>
                    <div class="pq-icon-box pq-style-3">
                        <div class="pq-icon">
                            <i class="ion ion-ios-email"></i>
                        </div>
                        <div class="pq-icon-box-content">
                            <h6>Email-Us</h6>
                            <p class="mb-0">info@erfanianmines.com<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0 p-xl-0">
                    <div class="pq-map pq-me-330">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6588.019998119235!2d62.19167091854061!3d34.35022360953162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f3ce6e87ea2637b%3A0x4b0d2e09a48887e6!2sTejarat%20International%20Hotel!5e0!3m2!1sen!2s!4v1743105360198!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us -->

    <!-- Contact Us Form -->
    <section class="contact-form pt-0 pb-xl-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 p-xl-0">
                    <div class="pq-contact-img">
                        <img src="{% static 'images/portfolio/1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 mt-4 mt-lg-0 ps-xl-5">
                    <div class="pq-section-title pq-style-1 pq-mb-30">
                        <h5 class="pq-section-main-title">How Can We Help You ?</h5>
                        <p class="pq-section-description">Please feel free to get in touch using the form below. We’d love to hear for you.</p>
                    </div>
                    <form action="" class="pq-contact-form" method="POST">
                        {% csrf_token %}
                        {% comment %} {{form|crispy}} {% endcomment %}
                        <div class="row">
                            <div class="col-md-6">
                                {% comment %} <input type="text" name="user_name" placeholder="Your Name"> {% endcomment %}
                                {% render_field form.name class="" placeholder="Your Name" %}
                            </div>
                            <div class="col-md-6">
                                {% comment %} <input type="email" name="user_email" placeholder="Email"> {% endcomment %}
                                {% render_field form.user_email  placeholder="Email"%}
                            </div>
                            <div class="col-md-6">
                                {% comment %} <input type="text" name="user_number" placeholder="Phone Number"> {% endcomment %}
                                {% render_field form.phone_number placeholder="Your Number" %}
                            </div>
                            <div class="col-md-6">
                                {% comment %} <input type="text" name="user_project" placeholder="Project Scope"> {% endcomment %}
                                {% render_field form.project_scope placeholder="Project Scope" %}
                            </div>
                            <div class="col-md-12">
                                {% comment %} <textarea name="user_message" cols="40" rows="10" placeholder="Write Your Message"></textarea> {% endcomment %}
                                {% render_field form.message placeholder="Your Message" %}
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="SEND NOW" class="btn btn-outline-primary">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Us Form -->

    <!-- Footer -->
    {% include "footer.html" %}
    <!-- Footer -->

    <!-- Back To Top -->
    <div id="back-to-top" class="active">
        <a class="top" id="top" href="#top">
            <i class="ion-ios-arrow-up"></i>
        </a>
    </div>
    <!-- Back To Top -->
    {% endblock %}
    <!-- Jquery -->
    
</body>
<script>
    'undefined' === typeof _trfq || (window._trfq = []);
    'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({
            'tccl.baseHost': 'secureserver.net'
        }, {
            'ap': 'cpbh-mt'
        }, {
            'server': 'sg2plmcpnl492384'
        }, {
            'dcenter': 'sg2'
        }, {
            'cp_id': '9858662'
        }, {
            'cp_cache': ''
        }, {
            'cp_cl': '8'
        }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
</script>
<script src='../../../../img1.wsimg.com/signals/js/clients/scc-c2/scc-c2.min.js'></script>

</html>