{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    {% block content %}
      {% include 'navbar.html' %}

      <!-- Banner -->
      <div class="banner py-0">
        <p class="rs-p-wp-fix"></p>
        <rs-module-wrap id="rev_slider_5_1_wrapper" data-alias="home-11" data-source="gallery" style="visibility:hidden;background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
          <rs-module id="rev_slider_5_1" data-version="6.5.31">
            <rs-slides>
              <rs-slide style="position: absolute;" data-key="rs-13" data-title="Slide" data-anim="adpr:false;ms:300;" data-in="o:0;" data-out="a:false;">
                <img src="{% static 'rev/assets/dummy.png' %}" alt="" title="{% static 'rev/asstes/Stone-Collection-exposure-boost-hero_13.jpeg' %}" width="1080" height="300" class="rev-slidebg tp-rs-img rs-lazyload" data-lazyload="{% static 'rev/assets/Stone-Collection-exposure-boost-hero_13.jpeg' %}" data-no-retina />
                <rs-bgvideo data-video="nse:false;l:true;ptimer:false;vfc:true;do:1;doca:rgba(0, 0, 0, 0.7);docb:rgba(0, 0, 0, 0.7);" data-mp4="{% static 'rev/Stone-Collection-exposure-boost-hero.mp4' %}"></rs-bgvideo>

                <rs-layer id="slider-5-slide-13-layer-1" class="rs-subtitle-fon" data-type="text" data-color="#2f7fe2" data-rsp_ch="on" data-xy="x:c;y:m,m,m,t;yo:-70px,-50px,-70px,180px;" data-text="w:normal;s:16,14,14,12;l:24,22,22,20;ls:1.6px,1.6px,1.6px,0px;fw:600;" data-frame_0="y:50,41,31,19;" data-frame_1="st:300;sp:1000;sR:300;" data-frame_999="o:0;st:w;sR:7700;" style="z-index:10;text-transform:capitlize;font-size: 5vw;color: white;">
                  <span style="color: white;font-size: 5vw;">welcome to Erfanian Mines Extracting Corpration</span>
                </rs-layer>

                <rs-layer id="slider-5-slide-13-layer-3" class="rs-title-font" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m,m,m,t;yo:30px,32px,10px,205px;" data-text="w:normal;s:72,60,48,32;l:80,68,56,40;fw:600;a:center;" data-dim="w:867px,715px,567px,364px;" data-frame_0="y:50,41,31,19;" data-frame_1="st:800;sp:1000;sR:800;" data-frame_999="o:0;st:w;sR:7200;" style="z-index:11;text-transform:capitalize;">{{ desc.description }}</rs-layer>
                <!--   
        
        							   -->
                <a id="slider-5-slide-13-layer-4" class="rs-layer pq-button pq-button-flat pq-btn-font rev-btn" href="{% url 'about-us' %}" target="_self" data-type="button" data-rsp_ch="on" data-xy="x:c;xo:-125px,-120px,-120px,-90px;y:m;yo:185px,170px,140px,164px;" data-text="w:normal;s:14;l:28;ls:1.6px,1.6px,0px,0px;fw:600;" data-dim="minh:0px,none,none,none;" data-vbility="t,t,t,f" data-padding="t:13,13,13,10;r:30;b:13,13,13,10;l:30;" data-frame_0="y:50,41,31,19;" data-frame_1="st:1200;sp:1000;sR:1200;" data-frame_999="o:0;st:w;sR:6800;" data-frame_hover="bgc:#30373f;bor:0px,0px,0px,0px;sp:100;e:power1.inOut;bri:100%;" style="z-index:13;background-color:#2f7fe2;text-transform:uppercase;transition: all 0.5s ease-in-out;">
                  <div class="pq-button-block">
                    <span class="pq-button-text">read more</span><span class="pq-button-line-right"></span><i class="ion ion-ios-arrow-right"></i>
                  </div>
                </a>
                <!--   

                			-->
                <rs-layer id="slider-5-slide-13-layer-3" class="rs-title-font" data-type="text" data-rsp_ch="on" data-xy="x:c;y:m,m,m,t;yo:30px,32px,10px,205px;" data-text="w:normal;s:72,60,48,32;l:80,68,56,40;fw:600;a:center;" data-dim="w:867px,715px,567px,364px;" data-frame_0="y:50,41,31,19;"
                data-frame_1="st:800;sp:1000;sR:800;" data-frame_999="o:0;st:w;sR:7200;" style="z-index:11;text-transform:capitalize;">high performance natural stone panels
                </rs-layer>
                  <!--
        							   -->
                <a id="slider-5-slide-13-layer-5" class="rs-layer pq-button pq-button-flat pq-btn-font pq-btn-bg-white rev-btn" href="{% url 'contact-us' %}" target="_self" data-type="button" data-color="#202125" data-rsp_ch="on" data-xy="x:c;xo:125px,120px,120px,0;y:m;yo:185px,170px,140px,110px;" data-text="w:normal;s:14;l:28;ls:1.6px,1.6px,0px,0px;fw:600;" data-dim="minh:0px,none,none,none;" data-padding="t:13;r:30;b:13;l:30;" data-frame_0="y:50,41,31,19;" data-frame_1="st:1200;sp:1000;sR:1200;" data-frame_999="o:0;st:w;sR:6800;" data-frame_hover="c:#fff;bgc:#2f7fe2;bor:0px,0px,0px,0px;sp:100;e:power1.inOut;bri:100%;" style="z-index:12;background-color:#e5e5e5;text-transform:uppercase; transition: all 0.5s ease-in-out;">
                  <div class="pq-button-block">
                    <span class="pq-button-text">Get In Touch</span><span class="pq-button-line-right"></span><i class="ion ion-ios-arrow-right"></i>
                  </div>
                </a>
                <!--   
           -->
              </rs-slide>
            </rs-slides>
          </rs-module>
        </rs-module-wrap>
        <!-- END REVOLUTION SLIDER -->
      </div>
      <!-- Banner -->

      <!-- Services -->
      <section class="services pq-bg-img-1">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 wow animated fadeInRight">
              <div class="pq-section-title pq-style-1">
                <span class="pq-section-sub-title">what we offer</span>
                <h5 class="pq-section-main-title">providing best services</h5>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 wow animated fadeInRight">
              <div class="button-align">
                <a class="pq-button pq-button-flat" href="{% url 'about-us' %}">
                  <div class="pq-button-block">
                    <span class="pq-button-text">read more</span>
                    <span class="pq-button-line-right"></span>
                    <i class="ion ion-ios-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-12 wow animated fadeInRight">
              <div class="divider pq-right-border pq-45"></div>
            </div>
          </div>
          <div class="row">
            {% for services in home_services %}
              <div class="col-lg-4 col-md-6 wow animated fadeInUp mt-3">
                <div class="pq-fancy-box pq-style-1 text-left">
                  <div class="pq-fancy-box-icon">
                    <i class="flaticon-tile"></i>
                  </div>
                  <div class="pq-fancy-box-right-icon">
                    <i class="flaticon-tile" aria-hidden="true"></i>
                  </div>
                  <div class="pq-fancy-box-info">
                    <h5 class="pq-fancy-box-title">{{ services.home_services_card_name }}</h5>
                    <p class="pq-fancy-box-description">{{ services.home_services_card_description }}</p>
                    <div class="pq-btn-container">
                      <a class="pq-button pq-button-link" href="{% url 'carpets-rugs' %}"></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!-- Services -->

      <!-- About Us -->
      <section class="about-us py-xl-0">
        <div class="floating-image floating-image-right floating-image-1">
          <img src="{% static 'images/floating-images/1.png' %}" alt="" />
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-6 pe-xl-30 wow animated fadeInLeft">
              <div class="pq-about-img">
                <img src="{% static 'images/about-us/marble.png' %}" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-xl-6 ps-xl-30 mt-4 mt-xl-0 wow animated fadeInRight">
              <div class="pq-section-title pq-style-1">
                <span class="pq-section-sub-title">about us</span>
                <h5 class="pq-section-main-title">Visit Our Advanced Mining &amp; Processing Facilities</h5>
                <p class="pq-section-description">Erfanian Mining drives Afghanistan’s mineral industry with innovation, creating jobs, ensuring quality, and promoting sustainability.</p>
              </div>
              <div class="divider pq-my-30"></div>
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <h6 class="pq-list-heading">Mining &amp; Processing:</h6>
                  <ul class="pq-list-check">
                    <li>
                      <i class="fas fa-circle"></i>
                      <span>Employment Opportunities</span>
                    </li>
                    <li>
                      <i class="fas fa-circle"></i>
                      <span>Innovative Technologies</span>
                    </li>
                    <li>
                      <i class="fas fa-circle"></i>
                      <span>Global Reach</span>
                    </li>
                    <li>
                      <i class="fas fa-circle"></i>
                      <span>Afghanistan's Strategic Minerals</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6 col-md-6 mt-4 mt-md-0">
                  <h6 class="pq-list-heading">Key Resources:</h6>
                  <ul class="pq-list-check">
                    <li>
                      <i class="fas fa-circle"></i>
                      <span>Gold &amp; Copper</span>
                    </li>
                    <li>
                      <i class="fas fa-circle"></i>
                      <span>Iron &amp; Non-Metallic Minerals</span>
                    </li>
                    <li>
                      <i class="fas fa-circle"></i>
                      <span>Marble &amp; Granit stones</span>
                    </li>
                    <li>
                      <i class="fas fa-circle"></i>
                      <span>Travertine &amp; green Onyx stones</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- About Us -->

      <!-- Stone -->
      <section class="stone pq-bg-dark pq-bg-img-2">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 wow animated fadeInLeft">
              <div class="pq-section-title pq-style-1">
                <span class="pq-section-sub-title">choose your stone</span>
                <h5 class="pq-section-main-title pq-text-white">Showroom With Selection</h5>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 wow animated fadeInLeft">
              <div class="button-align">
                <a class="pq-button pq-button-flat" href="{% url 'about-us' %}">
                  <div class="pq-button-block">
                    <span class="pq-button-text">read more</span>
                    <span class="pq-button-line-right"></span>
                    <i class="ion ion-ios-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="divider pq-left-border pq-45"></div>
            </div>
            <div class="col-lg-12 wow animated fadeInUp">
              <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="6" data-lap_num="4" data-tab_num="3" data-mob_num="2" data-mob_sm="2" data-autoplay="true" data-loop="false" data-margin="45">
                <div class="item">
                  <div class="pq-image-box pq-style-1 text-center">
                    <div class="pq-image-box-media">
                      <a></a>
                      <img decoding="async" src="{% static 'images/stone/1.png' %}" alt="box" />
                    </div>
                    <div class="pq-image-box-info">
                      <h5 class="pq-image-box-title"><a>Marble</a></h5>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-image-box pq-style-1 text-center">
                    <div class="pq-image-box-media">
                      <a><img decoding="async" src="{% static 'images/stone/2.png' %}" alt="box" /></a>
                    </div>
                    <div class="pq-image-box-info">
                      <h5 class="pq-image-box-title"><a>limestone</a></h5>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-image-box pq-style-1 text-center">
                    <div class="pq-image-box-media">
                      <a><img decoding="async" src="{% static 'images/stone/3.png' %}" alt="box" /></a>
                    </div>
                    <div class="pq-image-box-info">
                      <h5 class="pq-image-box-title"><a>onyx</a></h5>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-image-box pq-style-1 text-center">
                    <div class="pq-image-box-media">
                      <a><img decoding="async" src="{% static 'images/stone/4.png' %}" alt="box" /></a>
                    </div>
                    <div class="pq-image-box-info">
                      <h5 class="pq-image-box-title"><a>quartz</a></h5>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-image-box pq-style-1 text-center">
                    <div class="pq-image-box-media">
                      <a><img decoding="async" src="{% static 'images/stone/5.png' %}" alt="box" /></a>
                    </div>
                    <div class="pq-image-box-info">
                      <h5 class="pq-image-box-title"><a>granite</a></h5>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-image-box pq-style-1 text-center">
                    <div class="pq-image-box-media">
                      <a><img decoding="async" src="{% static 'images/stone/6.png' %}" alt="box" /></a>
                    </div>
                    <div class="pq-image-box-info">
                      <h5 class="pq-image-box-title"><a>travertine</a></h5>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-image-box pq-style-1 text-center">
                    <div class="pq-image-box-media">
                      <a><img decoding="async" src="{% static 'images/stone/7.png' %}" alt="box" /></a>
                    </div>
                    <div class="pq-image-box-info">
                      <h5 class="pq-image-box-title"><a>Marble</a></h5>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="pq-image-box pq-style-1 text-center">
                    <div class="pq-image-box-media">
                      <a><img decoding="async" src="{% static 'images/stone/8.png' %}" alt="box" /></a>
                    </div>
                    <div class="pq-image-box-info">
                      <h5 class="pq-image-box-title"><a>gold</a></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Stone -->

      <!-- Latest Work -->
      <section class="latest-work">
        <div class="container-fluid">
          <div class="floating-image floating-image-left floating-image-2">
            <img src="{% static 'images/floating-images/2.png' %}" alt="" />
          </div>
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 wow animated fadeInRight">
              <div class="pq-section-title pq-style-1">
                <span class="pq-section-sub-title"> Discover </span>
                <h5 class="pq-section-main-title"> Our Machinary </h5>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="divider pq-right-border pq-45"></div>
            </div>
            <div class="col-lg-12 wow animated fadeInUp">
              <div class="pq-portfoliobox pq-portfoliobox-style-1 pq-me-320">
                <div class="owl-carousel owl-loaded owl-drag" data-dots="true" data-nav="false" data-desk_num="4" data-lap_num="2" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="false" data-loop="true" data-margin="30">
                  {% for discover in home_discover %}
                    <div class="item">
                      <div class="pq-portfoliobox-1">
                        <div class="pq-portfolio-block">
                          <div class="pq-portfolio-img">
                            <img decoding="async" src="{{ discover.home_discover_image.url }}" alt="" />
                          </div>
                          <div class="pq-portfolio-info">
                            <h5><a href="{% url 'portfolio-single' %}">{{ discover.home_discover_name }}</a></h5>
                            <span><a href="{% url 'portfolio-single' %}">{{ discover.home_discover_role }}</a></span>
                          </div>
                          <div class="pq-btn-container">
                            <a href="{% url 'portfolio-single' %}" class="pq-button pq-button-link">
                              <div class="pq-button-block">
                                <div class="pq-svg">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="64.356" height="36.52" viewBox="0 0 64.356 36.52">
                                    <g transform="translate(-6.444 -1.74)">
                                      <g data-name="Group 2">
                                        <circle data-name="Ellipse 2" cx="17" cy="17.76" r="17.76" transform="translate(34.78 2.24)" fill="none" stroke="#2f7fe2" stroke-width="1" opacity="0.5"></circle>
                                        <circle data-name="Ellipse 3" cx="17" cy="17.76" r="17.76" transform="translate(34.78 2.24)" fill="none" stroke="#2f7fe2" stroke-width="1"></circle>
                                      </g>
                                      <path data-name="Path 1" d="M49.525,14.265l-.627.779,5.583,4.5H6.444v1h48.02L48.9,24.954l.621.783L56.7,20.044Z" fill="#2f7fe2"></path>
                                    </g>
                                  </svg>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Latest Work -->

      <!-- Video -->
      <div class="video pq-p-300 pq-video-bg-img pq-bg-secondary wow animated zoomIn">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="pq-popup-video-block pq-popup-style-1">
                <div class="pq-video-icon">
                  <a href="https://www.youtube.com/watch?v=XHOmBV4js_E" class="pq-video default popup-youtube"><i aria-hidden="true" class="ti-control-play"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Video -->

      

      <!-- Blog -->
      <section class="blog">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-8 wow animated fadeInRight">
              <div class="pq-section-title pq-style-1">
                <span class="pq-section-sub-title">Latest News</span>
                <h5 class="pq-section-main-title">Watch Our Latest Blog</h5>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 wow animated fadeInRight">
              <div class="button-align">
                <a class="pq-button pq-button-flat" href="{% url 'about-us' %}">
                  <div class="pq-button-block">
                    <span class="pq-button-text">read more</span>
                    <span class="pq-button-line-right"></span>
                    <i class="ion ion-ios-arrow-right"></i>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="divider pq-right-border pq-45"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 wow animated fadeInUp">
              <div class="pq-blog">
                <div class="owl-carousel owl-loaded owl-drag" data-dots="false" data-nav="false" data-desk_num="3" data-lap_num="2" data-tab_num="2" data-mob_num="1" data-mob_sm="1" data-autoplay="true" data-loop="true" data-margin="30">
                  {% for blog in home_blog %}
                    <div class="item">
                      <div class="pq-blog-post">
                        <div class="pq-post-media">
                          <img decoding="async" src="{{ blog.home_blog_image.url }}" alt="blog-image" />
                          <div class="pq-post-category">
                            <a href="{% url 'in-home-choose-a-light-floor-if-at-all-possible' %}">{{ blog.home_blog_role }}</a>
                          </div>
                        </div>
                        <div class="pq-blog-contain">
                          <h5 class="pq-blog-title"><a href="{% url 'in-home-choose-a-light-floor-if-at-all-possible' %}">{{ blog.home_blog_description }}</a></h5>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog -->

      <div id="google_translate_element" class="active">
        {% comment %} <a class="top" id="top" href="#top"><i class="ion-ios-arrow-up"></i></a> {% endcomment %}
      </div>

      <!-- Footer -->
      {% include 'footer.html' %}
      <!-- Footer -->
    {% endblock %}
  </body>

  <script>
    'undefined' === typeof _trfq || (window._trfq = [])
    'undefined' === typeof _trfd && (window._trfd = []),
      _trfd.push(
        {
          'tccl.baseHost': 'secureserver.net'
        },
        {
          ap: 'cpbh-mt'
        },
        {
          server: 'sg2plmcpnl492384'
        },
        {
          dcenter: 'sg2'
        },
        {
          cp_id: '9858662'
        },
        {
          cp_cache: ''
        },
        {
          cp_cl: '8'
        }
      )
  </script>
</html>
