{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    
</head>

<body>
    {% block content %}
    <!-- Loading -->
    {% include "navbar.html" %}
    <!-- Header -->

    <!-- Breadcrumb -->
    <div class="pq-breadcrumb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <div class="pq-breadcrumb-title">
                            <h1>Our Team</h1>
                        </div>
                        <div class="pq-breadcrumb-container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'index' %}"><i class="fas fa-home me-2"></i>Home</a>
                                </li>
                                <li class="breadcrumb-item active">Our Team</li>
                            </ol>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb -->

    <!-- Team -->
    <section class="team">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-8 wow animated fadeInRight">
                    <div class="pq-section-title pq-style-1">
                        <span class="pq-section-sub-title">Our Team</span>
                        <h5 class="pq-section-main-title">Our Best Team Expert</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 wow animated fadeInRight">
                    
                </div>
                <div class="col-lg-12">
                    <div class="divider pq-left-border2 pq-right-border pq-45"></div>
                </div>
                {% for team in our_team %}
                <div class="col-lg-4 col-md-6 wow animated fadeInUp">
                    <div class="pq-team pq-team-style-1">
                        <div class="pq-team-box">
                            <div class="pq-team-img">
                                <img decoding="async" src="{{team.team_image.url}}" alt="team-image">
                                
                            </div>
                            <div class="pq-team-info">
                                <h5 class="pq-member-name">
                                    {{team.team_name}}
                                </h5>
                                <span class="pq-team-designation">{{team.team_role}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% comment %} <div class="col-lg-4 col-md-6 mt-4 mt-md-0 wow animated fadeInUp">
                    <div class="pq-team pq-team-style-1">
                        <div class="pq-team-box">
                            <div class="pq-team-img">
                                <img decoding="async" src="{% static 'images/team/5.jpg' %}" alt="team-image">
                                
                            </div>
                            <div class="pq-team-info">
                                <h5 class="pq-member-name">
                                    Iliena Brown
                                </h5>
                                <span class="pq-team-designation">marketing</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 mt-lg-0 wow animated fadeInUp">
                    <div class="pq-team pq-team-style-1">
                        <div class="pq-team-box">
                            <div class="pq-team-img">
                                <img decoding="async" src="{% static 'images/team/4.jpg' %}" alt="team-image">
                                
                            </div>
                            <div class="pq-team-info">
                                <h5 class="pq-member-name">
                                    Micheal Baker
                                </h5>
                                <span class="pq-team-designation">Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow animated fadeInUp">
                    <div class="pq-team pq-team-style-1">
                        <div class="pq-team-box">
                            <div class="pq-team-img">
                                <img decoding="async" src="{% static 'images/team/2.jpg' %}" alt="team-image">
                                
                            </div>
                            <div class="pq-team-info">
                                <h5 class="pq-member-name">
                                    Danial Frankie
                                </h5>
                                <span class="pq-team-designation">designer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow animated fadeInUp">
                    <div class="pq-team pq-team-style-1">
                        <div class="pq-team-box">
                            <div class="pq-team-img">
                                <img decoding="async" src="{% static 'images/team/3.jpg' %}" alt="team-image">
                                
                            </div>
                            <div class="pq-team-info">
                                <h5 class="pq-member-name">
                                    Robert Anderson
                                </h5>
                                <span class="pq-team-designation">financial officer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mt-4 wow animated fadeInUp">
                    <div class="pq-team pq-team-style-1">
                        <div class="pq-team-box">
                            <div class="pq-team-img">
                                <img decoding="async" src="{% static 'images/team/1.jpg' %}" alt="team-image">
                                
                            </div>
                            <div class="pq-team-info">
                                <h5 class="pq-member-name">
                                    Naidan Smith
                                </h5>
                                <span class="pq-team-designation">Manager</span>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </section>
    <!-- Team -->

    

    <!-- Counter -->
    <section class="counter pq-counter-60 pq-bg-dark">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-3 col-md-6">
                    <div class="pq-counter pq-counter-style-1 text-center pq-border-right">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="786" data-speed="5000">786</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description">Client Satisfaction</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                    <div class="pq-counter pq-counter-style-1 text-center pq-border-right">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="600" data-speed="5000">600</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description">Export On Worldwide</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="pq-counter pq-counter-style-1 text-center pq-border-right">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="989" data-speed="5000">989</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description">Amazing Projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                    <div class="pq-counter pq-counter-style-1 text-center">
                        <div class="pq-counter-info">
                            <div class="pq-counter-num-prefix">
                                <h5 class="timer" data-to="125" data-speed="5000">125</h5>
                                <span class="pq-counter-prefix">+</span>
                            </div>
                            <p class="pq-counter-description">Productions Plan</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter -->

    <!-- Testimonial -->
    <!-- Blog -->

    <!-- Footer -->
    {% include "footer.html" %}
    <!-- Footer -->

    <!-- Back To Top -->
    <div id="back-to-top" class="active">
        <a class="top" id="top" href="#top">
            <i class="ion-ios-arrow-up"></i>

        </a>
    </div>
    <!-- Back To Top -->
    {% endblock %}
    <!-- Jquery -->
    
</body>
<script>
    'undefined' === typeof _trfq || (window._trfq = []);
    'undefined' === typeof _trfd && (window._trfd = []), _trfd.push({
            'tccl.baseHost': 'secureserver.net'
        }, {
            'ap': 'cpbh-mt'
        }, {
            'server': 'sg2plmcpnl492384'
        }, {
            'dcenter': 'sg2'
        }, {
            'cp_id': '9858662'
        }, {
            'cp_cache': ''
        }, {
            'cp_cl': '8'
        }) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.
</script>
<script src='../../../../img1.wsimg.com/signals/js/clients/scc-c2/scc-c2.min.js'></script>

</html>